.fs-footer-14 {
    font-family: 'Monrope', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #211E1D;
    line-height: 130%;
}

.fs-footer-16 {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #211E1D;
    line-height: 130%;
}
