:root {
    --half-product-item-mt: 25px;
}

.catalog h1 {
    font-family: 'Monrope', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: var(--primary-font-color);
}

.catalog .filters {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.catalog .filters .col {
    display: flex;
    flex-direction: column;
    width: 320px;
}

.catalog .filters .col label {
    font-weight: 600;
    cursor: pointer;
}

.catalog .filters .col select {
    margin-top: 40px;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid rgba(33, 30, 29, 0.2);
    background: none;
}

.catalog .product-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(60px - var(--half-product-item-mt));
}

.catalog .product-list li {
    margin: var(--half-product-item-mt) 0;
}

.catalog .product-list li:not(:nth-child(4n)) {
    margin-right: 20px;
}

.catalog .product-list li .product-info {
    position: relative;
    margin-top: 22px;
}

.catalog .product-list li .product-info .product-price {
    display: block;
    margin-top: 10px;
}

.catalog .product-list li .product-info .favourite-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.catalog .loader {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.catalog .loader .loader-btn {
    width: 324px;
    height: 76px;
    border: 1px solid #211E1D;
    background: none;
    transition-duration: 200ms;
    transition-property: box-shadow;
    cursor: pointer;   
}

.catalog .loader .loader-btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}