:root {
    --main-header-height: 136px;
    --main-footer-height: 244px;
}

html {
    width: 100%;
}

body {
    background-color: #F7F6F5;
}

main {
    min-height: calc(100vh - (var(--main-header-height) + var(--main-footer-height)));
}

.container {
    width: 1340px;
    margin: 0 auto;
    padding: 0 15px;
}
